.trigger {
  padding: 0 15px;
  font-size: 18px;
  line-height: 50px;
  cursor: pointer;
  transition: color 0.3s;
}
body {
  background: #f5f5f5 !important;
}
/* .trigger:hover {
  color: #1890ff;
} */

.site-layout .site-layout-background {
  background: #f5f5f5 !important;
  padding: 1rem;
}
.sidebar {
  background-color: #ffffff;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.05);
  width: 270px;
  height: fit-content;
}
.ant-side-Layout {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
}
.sidelayout {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  width: 5rem;
}
.active-profile {
  display: none !important;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
}
.logo {
  height: 30px;
}
.menu-item-icon {
  font-size: 1.3rem;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #ffffff !important;
  background-color: #0078d4;
}
.ant-menu-item:hover {
  color: rgb(116, 116, 116) !important;
}
.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}
.addIcon {
  padding: 8px;
  width: 30px;
  height: 30px;
  top: 20px;
  color: white;
  background: #0078d4;
  border-radius: 15px;
  cursor: pointer;
}
.search {
  width: 100%;
  height: 30px;
  color: #959595;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;
}
.notification {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  width: 30px;
  height: 30px;

  cursor: pointer;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
}
.site-form-item-icon {
  color: #0078d4;
}
.rotate {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  position: static;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}
.table {
  overflow-x: auto;
}
.printField {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  position: static;
  width: 35px;
  height: 35px;
  left: 0px;
  top: 0px;
  cursor: pointer;

  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.filterField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 21px;

  position: static;
  width: 90px;
  height: 35px;
  top: 0px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 5px;
}
.ant-layout-header {
  line-height: 0;
}
.iconStyle {
  font-size: 2rem;
  color: #0078d4;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-table-thead {
  background-color: #c5c5c5 !important;
}
.ant-layout-content {
  /* flex: auto; */
  min-height: auto;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 26px;
  background: #f5f5f5;
  border-radius: 15px;
  cursor: pointer;
}
.options:hover {
  background-color: rgb(228, 228, 228);
}
.more {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: uppercase;

  color: #353535;
}
.ant-table-tbody > tr > td {
  padding: 0px 16px;
}
.arrow {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #0078d4;
  margin-left: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-table table {
  width: 100%;
}
.deceased {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  width: 70px;
  height: 20px;
  background: #ffd1d1;
  border: 1px solid #fd4c4c;
  box-sizing: border-box;
  border-radius: 10px;
  color: #fd4c4c;
  font-size: 11px;
}
.ant-table-thead > tr > th {
  background: #f5f5f5;
  color: #959595;
}
.finished {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  width: 68px;
  height: 26px;
  left: 1127px;
  top: 233px;

  background: #e6ffee;
  border: 1px solid #00a25b;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #00a25b;
}
.ongoing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  color: #555555;
  width: 67px;
  height: 26px;
  left: 1127px;
  top: 379px;

  background: #f5f5f5;
  border: 1px solid #959595;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.canceled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  width: 72px;
  height: 26px;
  left: 1127px;
  top: 525px;
  color: #fd4c4c;
  background: #ffd1d1;
  border: 1px solid #fd4c4c;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.date {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #959595;
}
.border {
  border: 1px solid #d5d5d5;
  transform: rotate(90deg);
  width: 40px;
  height: 0px;
  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
  margin: 0px 0px;
}
.iconCircle {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 0px;
  top: 0px;

  background: #7b61ff;
  border-radius: 15px;
}
.name {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 15px;
  color: #555555;
}
.patientName {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;

  color: #353535;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.patientId {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #757575;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 14px;
}
.patientid {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;

  color: #757575;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}
.description {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #353535;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}
.provider {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #555555;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.phone {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #353535;
}
.onGoing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  width: 67px;
  height: 26px;
  left: 1268px;
  top: 408px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #0078d4;
  background: #e6f4ff;
  border: 1px solid #0078d4;
  box-sizing: border-box;
  border-radius: 10px;
}
.claimsHeader {
  height: 110px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  /* color: #1890ff; */
  color: white;
}
.routelink {
  color: black;
}

.claimRightBorder {
  border: 4px solid #00a25b;
  transform: rotate(90deg);
  width: 60px;
  height: 0px;
  top: 0px;
}
.totalIndemity {
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  color: #353535;
  position: static;
}
.indemityText {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #757575;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.newClaimBorder {
  width: 60px;
  height: 0px;
  border: 4px solid #d5d5d5;
  transform: rotate(90deg);
}
.gender {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #353535;
}
.resolvedClaim {
  width: 60px;
  height: 0px;
  border: 4px solid #0078d4;
  transform: rotate(90deg);
}
.updateClaims {
  width: 60px;
  height: 0px;

  border: 4px solid #fd4c4c;
  transform: rotate(90deg);
}
.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.searchLocation {
  width: 100%;
  height: 100px;
  background: #ffffff;
}
.searchField {
  width: 30%;
  height: 30px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 10px;
}
.userIcon {
  width: 30px;
  height: 30px;
  background: #e6f4ff;
  border-radius: 10px;
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #0078d4;
}
.searchbutton {
  background: #0078d4;
  border-radius: 10px;
}
.profile-div {
  display: flex;
  padding: 0.1rem 0.4rem;
}
.userProfile {
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #f5f5f5;
  color: #555555;
}
.user-name {
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #353535;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 4px 0px;
}
.user-title {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #555555;
  opacity: 0.5;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 0px;
}
.user-div {
  position: absolute;
  bottom: 0;
}
.ant-table-tbody {
  background-color: #ffffff;
}
.ant-table-pagination-right {
  justify-content: flex-start;
}
.location-field {
  padding: 0rem 0.9rem;
}
.email {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #353535;
}
.menu-item-content {
  font-family: Epilogue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #555555;
}
.patient-details-header {
  display: flex;
  justify-content: space-between;
}
.patient-details {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  color: #353535;
}
.close-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: pointer;
}
.patient-div {
  display: flex;
}
.patient-image {
  width: 96px;
  height: 96px;
  /* background: url(red.jpg); */
  border-radius: 15px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.patient-name {
  position: static;
  width: 194px;
  height: 38px;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 38px;
  /* identical to box height */
  color: #353535;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.patient-id {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #757575;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}
.patient-name-div {
  display: flex;
  flex-direction: column;
}
.patient-personal-details {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.gender-div {
  display: flex;
  align-items: center;
}
.gender-heading {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #959595;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 4px 0px; */
}
.gender-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #555555;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  /* margin: 4px 0px; */
}
.gender-content {
  display: flex;
  flex-direction: column;
}
.ant-tabs-tab + .ant-tabs-tab {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #959595;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #555555;
}
.medications-tab {
  width: 510px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.medicine-box {
  width: 42px;
  height: 42px;
  background: #e6f4ff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 1rem;
}
.tablet-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #353535;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.last-update {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #757575;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 4px;
}
.core-plan-body {
  width: 510px;
  height: 150px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
}
.core-plan-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  /* identical to box height */
  color: #353535;
}
.dises-name {
  width: 224px;
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #353535;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.encounters-name{
  width: 224px;
  height: 19px;
  left: 0px;
  top: 0px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #353535;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}
.plan-date {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #757575;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.details-field {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-transform: uppercase;
  color: #959595;
}
.details-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #555555;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}
.respiratory-thrapy {
  margin-top: 0.5rem;
  width: 510px;
  height: 72px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Encounter-tab-body {
  margin-top: 0.5rem;
  width: 510px;
  height: 72px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thrapy {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #353535;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.therapy-body {
  display: flex;
  flex-direction: column;
}
.verticle-line {
  width: 40px;
  height: 0px;
  border: 1px solid #d5d5d5;
  transform: rotate(90deg);
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 5px;
}
.more-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  left: calc(50% - 140px / 2 + 435px);
  background: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
}
.more-button:hover {
  background-color: rgb(223, 221, 221);
}
.show-more {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #555555;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}
.patient-details-model {
  position: fixed;
  top: 0;
  right: 0;
  /* width: 100%; */
  height: 100%;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */
  background-color: #ffffff;
  padding: 24px;
  overflow: auto;
  overscroll-behavior-y: contain;
  z-index: 102;
}
@media screen and (max-width: 480px) {
  .iconStyle {
    font-size: 1.2rem;
  }
  .title {
    font-size: 1.2rem;
  }
  .rotate {
    width: 1.7rem;
    height: 1.7rem;
    justify-content: center;
    padding: 5px;
  }
  .printField {
    width: 1.7rem;
    height: 1.7rem;
    justify-content: center;
    padding: 5px;
  }
  .filterField {
    width: 70px;
    height: 1.7rem;
    padding: 8px 11px;
  }
  .ant-tabs-tab {
    font-size: 10px;
  }
  .location-field {
    padding: 0;
  }
  .userProfile {
    display: none !important;
  }
  .totalIndemity {
    margin: 0;
    font-size: 17px;
    line-height: 2;
  }
  .indemityText {
    margin: 0;
    font-size: 12px;
  }
  .claimsHeader {
    height: 75px;
  }
  .core-plan-body {
    width: 100%;
  }
  .respiratory-thrapy {
    width: 100%;
  }
  .dises-name {
    width: max-content;
    margin-right: 0.5rem;
  }
  .medications-tab {
    width: 100%;
  }
  .Encounter-tab-body {
    width: 100%;
  }
  .encounters-name{
    width: 100%;
    margin: 13px 0px;
  }
  .collapsed{
    
  }
}
